:root {
    --bg: black;
    --txt: #ffffff;
}

html {
    background: var(--bg);
    color: var(--txt);
}
.hero {
    h1.title {
        margin-block: 1.5rem;
    }
    p {
        font-size: 1.5rem;
        margin-bottom: .75rem;
    }     
}